# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Test

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - name: Set up Go
              uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
              with:
                  go-version: "stable"

            - name: Build
              run: go build -v ./...

            - name: Test
              run: go test -v ./...

            - name: Vet
              run: go vet -v ./...

            - name: fmt
              run: go fmt ./...

            - uses: dominikh/staticcheck-action@fe1dd0c3658873b46f8c9bb3291096a617310ca6 # v1.3.1
              with:
                  install-go: false
